@use "variables" as *;

.bottomBoxes {
    display: flex;
    justify-content: space-evenly;
    align-content: center;


    .infoBox {
        border: 2px solid #CA7379;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19%;

        img {
            padding: 20px;
        }

        div {
            padding: 5px;

            h5 {
                margin: 2px auto;
            }

            h6 {
                margin: 2px auto;
            }
        }
    }
}