@use "variables" as *;


.addToCart {
    width: 7.5rem;
    height: 1.5rem;
    border-radius: 25px;
    background-color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: lighter;
    margin-right: 1.4rem;
    border: 1px solid grey;
}

.addToCart:hover {
    background-color: lightcoral;
    color: white;
    border: none;
}


.repeatButton {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

}

.heartIcon {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

}

.cartButton {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;


}


.susbscribeButton {
    width: 7.5rem;
    height: 130%;
    border-radius: 2.25rem;
    background-color: lightcoral;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: lighter;
    border: none;
}