@use "variables" as *;


.addToCart {
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: lighter;
}

.addToCart:hover {
    background-color: lightcoral;
    color: white;
}


.repeatButton {
    background-color: white;
    border-radius: 50%;
}

.heartIcon {
    background-color: white;
    border-radius: 50%;


}


.susbscribeButton {
    width: 150px;
    height: 130%;
    border-radius: 25px;
    background-color: lightcoral;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: lighter;
    border: none;
}