@use "variables" as *;


.closingLinks {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 4rem;

    h5 {
        text-decoration: underline;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            text-transform: uppercase;
            font-family: $bodyFont;
            font-weight: 100;
            color: grey;
            font-size: .8rem;
            margin-bottom: .2rem;
        }
    }

    .location {
        h6 {
            text-transform: uppercase;
        }

        h4 {
            font-style: normal;
            color: grey;
            font-weight: 700;
            font-family: $bodyFont;
        }

        .social {
            color: lightgray;
            margin-right: .4rem;

        }

        .social {
            i:hover {
                color: #000;
            }
        }


    }

    .help {}

    .policies {}

    .company {}
}