@use "variables" as *;

.collections {
    display: flex;
    justify-content: center;

    div {
        h5 {
            margin-top: 0;

        }

        img {
            height: 10%;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                list-style: none;
                display: flex;
            }
        }
    }

    // .featured {
    //     ul {
    //         display: flex;
    //         flex-direction: column;
    //     }

    //     li {
    //         list-style: none;
    //         display: flex;
    //     }
    // }

    // .topRated {
    //     ul {
    //         display: flex;
    //         flex-direction: column;
    //     }

    //     li {
    //         list-style: none;
    //         display: flex;
    //     }
    // }
}