@use "variables" as *;

.collections {
    display: flex;
    justify-content: center;
    margin: 10rem auto;


    div {
        h6 {
            font-size: 1rem;
            text-decoration: underline;
            text-transform: uppercase;
            font-family: inherit;
            font-weight: normal;

        }

        .thumbnail {
            margin: 2rem;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                list-style: none;
                display: flex;
            }
        }
    }

    .threeButtons {
        /* margin-right: 0rem; */
        margin-top: 3rem;
        margin-left: 3rem;
    }
}