@use "variables" as *;

.fashionStore {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    margin: 2rem auto;

    .zorka {
        width: 45%;
        background-image: url(../Assets/images/home-bg-1.jpg);

        span {
            display: block;
            text-transform: uppercase;
            color: white;
            font-family: $baseFont;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .zorkaFasion {
        position: relative;
        top: 41px;
        right: -245px;
    }

    .tuesday {
        width: 45%;
        background-image: url(../Assets/images/home-bg-2.jpg);

        .fiftyOff {
            position: relative;
            top: 36%;
            left: 33%;
            display: flex;
            border: 2px solid white;
            width: 50%;
            text-align: center;
            text-transform: uppercase;

            img {
                border-right: 2px solid white;
            }

            .offText {
                font-weight: 900;
            }

            span {
                display: block;
                color: white;
            }
        }
    }
}