@use "variables" as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
        p {
            text-transform: uppercase;
            color: gray;
            font-size: 0.8rem;
        }
    }

    .payment {
        ul {
            display: flex;

            li {
                list-style: none;

                img {
                    margin-right: .4rem;
                }
            }
        }
    }
}