@use "variables" as *;

.welcome {
    color: grey;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid lightgray;
    font-size: .8rem;
    margin-bottom: 3rem;
    margin-top: 1rem;

    .login {}

    .settings {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 0;


        li {
            margin-left: 15px;
        }
    }
}

header {
    font-family: $bodyFont;

    .iconsLogo {
        display: flex;
        justify-content: space-between;

        // color: grey;
        .logo {
            padding-right: 4rem;
        }

        i {
            color: lightgray;
            margin-right: .4rem;

        }

        .social {
            i:hover {
                color: #000;
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: .8rem;

            li {
                margin: auto 1%;
            }

            a {
                text-decoration: none;
                color: #000;
                margin: auto 1.4rem;
            }
        }
    }


}

.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Assets/images/slideshow1.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        h2 {
            font-family: $bodyFont;
            text-transform: uppercase;
            font-weight: 100;
            font-size: .9rem;
            letter-spacing: .3rem;
            margin-bottom: 0;


        }

        h1 {
            font-size: 3.3rem;
            font-weight: 100;
            margin-top: 0;
        }

        button {
            font-family: $bodyFont;
            width: 120px;
            height: 30px;
            border-radius: 25px;
            text-transform: uppercase;
            background-color: white;
            border: none;
        }
    }
}

.saleLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;

    div {
        // display: inline;
        width: 30%;
        height: 40%;
        text-transform: uppercase;
        display: flex;
        justify-content: end;
        align-items: center;

        p {
            margin-right: 0.6rem;
            font-size: .8rem;
            color: white;
        }

        img {
            padding: 0.9rem;
        }
    }
}

.shopping {
    background-color: #CA7379;

    img {
        background-color: #b4656a;

    }

}

.gift {
    background-color: #C1AC91;

    img {

        background-color: #b4a188;
    }

}

.diamond {
    background-color: #8090A1;

    img {
        background-color: #4d5761;
    }
}