@use "variables" as *;

@media (min-width: 2300px) {
    .wrapper {
        max-width: 2000px;
    }

    .saleLinks div img {
        padding: 1.22rem;
    }

    html {
        font-size: 175%;
    }

    .fashionStore .zorka,
    .tuesday {
        background-size: cover;
    }

}

@media (max-width: 500px) {
    .saleLinks {
        flex-direction: column;

        .saleLinks div {
            width: 100%;
        }
    }

    .trendy .trendingPhotos {

        flex-direction: column;
    }
}