@use "variables" as *;

@media (min-width: 2300px) {
    .wrapper {
        max-width: 2000px;
    }

    .saleLinks div img {
        padding: 1.22rem;
    }

    html {
        font-size: 175%;
    }

    .fashionStore .zorka,
    .tuesday {
        background-size: cover;
    }

}

@media (max-width: 500px) {
    nav {
        display: none;
    }

    .mobile {
        display: block;
    }

    .social,
    .welcome,
    .shoppingCart {
        display: none;
    }

    .saleLinks {
        flex-direction: column;
        margin: 1rem auto;

        div {
            width: 100%;
        }
    }


    .trendy {
        .trendingPhotos {
            flex-direction: column;
        }

        h3 {
            margin-top: 2rem;
        }

        .clothingDepartments li {
            margin: auto .75rem;
        }
    }

    .fashionStore {
        flex-direction: column;
        height: 60vh;

        .zorka,
        .tuesday {
            width: 100%;
            height: 30%;
        }
    }

    .saleOff .salePhotos {
        flex-direction: column;
    }

    .collections {

        flex-direction: column;
    }

    .blog ul {
        flex-direction: column;
    }

    .bottomBoxes {
        flex-direction: column;

        .infoBox {
            width: 80%;
            margin: 1rem auto;
        }
    }

    .closingLinks {
        flex-direction: column;
    }

}