@use "variables" as *;

.saleOff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .salePhotos {
        display: flex;
        list-style: none;
        justify-content: center;

        li {
            margin: 0 1rem;

            .saleImg {
                height: 18rem;
            }
        }

    }
}