@use "variables" as *;

.saleOff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .salePhotos {
        display: flex;
        list-style: none;
        justify-content: center;

        // .addToCart {
        //     width: 150px;
        //     height: 30px;
        //     border-radius: 25px;
        //     background-color: #fff;
        // }

        // .repeatButton {}

        // .heartIcon {}
    }
}