@use "variables" as *;

.trendy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;

    .trendyImg {
        // width: 17rem;
        height: 17rem;
    }

    h3 {
        font-weight: normal;
        letter-spacing: .3rem;
    }

    h4 {
        font-size: 1rem;
        font-style: italic;
        text-transform: capitalize;
        font-weight: lighter;
        font-family: $headingFont;
        margin-top: 0;
    }

    .clothingDepartments {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            margin: auto 34px;
            font-size: 1rem;
        }
    }

    .trendingPhotos {
        display: flex;
        list-style: none;
        justify-content: center;

        li {}

        div {
            margin: 0 1rem;
        }

        p {
            font-size: 0.8rem;
        }



    }
}