@use "variables" as *;

.trendy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;

    .trendyImg {
        height: 18rem;
    }



    h3 {
        font-weight: normal;
        letter-spacing: .3rem;
        margin-bottom: 0.5rem;
    }

    h4 {
        font-size: 1rem;
        font-style: italic;
        text-transform: capitalize;
        font-weight: lighter;
        font-family: $headingFont;
        margin-top: 0;
    }

    .clothingDepartments {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            margin: auto 34px;
            font-size: 1rem;
        }

        li:hover {
            color: lightcoral;
            padding-bottom: 5px;
            border-bottom: 2px solid black;
            position: relative;
        }


    }

    .trendingPhotos {
        display: flex;
        list-style: none;
        justify-content: center;

        li {


            .photosCard {

                margin: 0 1rem;

                .container {
                    position: relative;



                    .hoverSearch {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        background-color: lightcoral;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        color: #fff;
                    }

                    .searchIcon {}

                    .fa-solid.fa-magnifying-glass {
                        margin-top: .5rem;
                    }

                }
            }

        }

        p {
            font-size: 0.8rem;
        }

    }


}



.saleCountdown {
    position: absolute;
    bottom: -0.05rem;
    left: -.05rem;
    height: 6rem;
    width: 13.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.countdownTime {
    .circleTime {
        width: 2rem;
        height: 2rem;
        background-color: black;
        color: #fff;
        border-radius: 50%;
        padding: 0.5rem;
    }

    // .day {
    //     color: #000;
    // }
}


.container:hover {

    img {
        opacity: .2;
        border: 5px solid rgba(255, 255, 255, 0.459);

    }

}

.hoverSearch:hover {
    display: none;
}


.trendyDiscountBubble {
    position: absolute;
    bottom: -38.6rem;
    right: 46.3rem;
    background-color: lightcoral;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: .7rem;
    padding: auto;
    padding-top: 0.8rem;
    text-align: center;
}

.new {
    position: absolute;
    right: 46.3rem;
    bottom: -41.6rem;
    background-color: #4d5761;
}