html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "MerriweatherSans";
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: Merriweather;
}

h3 {
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h4 {
  font-size: 0.8rem;
  font-style: italic;
  text-transform: capitalize;
  font-weight: lighter;
  font-family: "Merriweather";
  margin-top: 0;
}

h5 {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: "MerriweatherSans";
  font-weight: 500;
}

.price {
  color: red;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.addToCart {
  width: 150px;
  height: 30px;
  border-radius: 25px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: lighter;
  margin-right: 1.4rem;
}

.addToCart:hover {
  background-color: lightcoral;
  color: white;
}

.repeatButton {
  background-color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.heartIcon {
  background-color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.cartButton {
  background-color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.susbscribeButton {
  width: 150px;
  height: 130%;
  border-radius: 25px;
  background-color: lightcoral;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: lighter;
  border: none;
}

.welcome {
  color: grey;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid lightgray;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.welcome .settings {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}
.welcome .settings li {
  margin-left: 15px;
}

header {
  font-family: "MerriweatherSans";
}
header .iconsLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
header .iconsLogo .logo {
  padding-right: 4rem;
}
header .iconsLogo i {
  color: lightgray;
  margin-right: 0.4rem;
}
header .iconsLogo .social i:hover {
  color: #000;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 0.8rem;
}
header nav ul li {
  margin: auto 1%;
}
header nav ul a {
  text-decoration: none;
  color: #000;
  margin: auto 1.4rem;
}

.heroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../Assets/images/slideshow1.jpg);
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroImage .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.heroImage .introduction h2 {
  font-family: "MerriweatherSans";
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
}
.heroImage .introduction h1 {
  font-size: 3.3rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1rem;
}
.heroImage .introduction button {
  font-family: "MerriweatherSans";
  width: 120px;
  height: 30px;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: white;
  border: none;
  font-size: 0.8rem;
  font-weight: lighter;
}

.saleLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}
.saleLinks div {
  width: 30%;
  height: 30%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saleLinks div p {
  margin-right: 0.6rem;
  font-size: 0.8rem;
  color: white;
}
.saleLinks div img {
  padding: 1rem;
  margin-right: -1rem;
}

.shopping {
  background-color: #CA7379;
}
.shopping img {
  background-color: #b4656a;
}

.gift {
  background-color: #C1AC91;
}
.gift img {
  background-color: #b4a188;
}

.diamond {
  background-color: #8090A1;
}
.diamond img {
  background-color: #4d5761;
}

@font-face {
  font-family: Halflings;
  src: url(../fonts/Halflings/glyphicons-halflings-regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather/Merriweather/Merriweather-Italic.ttf);
  src: url(../fonts/Merriweather/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: MerriweatherSans;
  src: url(../fonts/MerriweatherSans/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}
.trendy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}
.trendy .trendyImg {
  height: 17rem;
}
.trendy h3 {
  font-weight: normal;
  letter-spacing: 0.3rem;
}
.trendy h4 {
  font-size: 1rem;
  font-style: italic;
  text-transform: capitalize;
  font-weight: lighter;
  font-family: "Merriweather";
  margin-top: 0;
}
.trendy .clothingDepartments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.trendy .clothingDepartments li {
  margin: auto 34px;
  font-size: 1rem;
}
.trendy .trendingPhotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trendy .trendingPhotos div {
  margin: 0 1rem;
}
.trendy .trendingPhotos p {
  font-size: 0.8rem;
}

.fashionStore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30vh;
  margin: 2rem auto;
}
.fashionStore .zorka {
  width: 45%;
  background-image: url(../Assets/images/home-bg-1.jpg);
}
.fashionStore .zorka span {
  display: block;
  text-transform: uppercase;
  color: white;
  font-family: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.fashionStore .zorkaFasion {
  position: relative;
  top: 41px;
  right: -245px;
}
.fashionStore .tuesday {
  width: 45%;
  background-image: url(../Assets/images/home-bg-2.jpg);
}
.fashionStore .tuesday .fiftyOff {
  position: relative;
  top: 36%;
  left: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}
.fashionStore .tuesday .fiftyOff img {
  border-right: 2px solid white;
}
.fashionStore .tuesday .fiftyOff .offText {
  font-weight: 900;
}
.fashionStore .tuesday .fiftyOff span {
  display: block;
  color: white;
}

.saleOff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saleOff .salePhotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.saleOff .salePhotos li {
  margin: 0 1rem;
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem auto;
}
.collections div h6 {
  font-size: 1rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: normal;
}
.collections div .thumbnail {
  margin: 2rem;
}
.collections div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.collections div ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collections .threeButtons {
  /* margin-right: 0rem; */
  margin-top: 3rem;
  margin-left: 3rem;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog img {
  height: 50%;
}
.blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog ul li div p {
  font-size: 0.8rem;
  color: grey;
}
.blog ul li div .read {
  text-transform: uppercase;
  color: red;
}

.subscribe {
  height: 55vh;
  background-image: url(../Assets/images/home-bg-3.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.subscribe .subscribeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .subscribeSection img {
  width: 10%;
  height: 10%;
}
.subscribe .subscribeSection h5 {
  color: white;
}
.subscribe .subscribeSection h4 {
  color: white;
}
.subscribe .subscribeSection input {
  border-radius: 25px;
  border: none;
}
.subscribe .subscribeSection input input {
  height: 130%;
}
.subscribe .subscribeSection input::-webkit-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.subscribe .subscribeSection input::-moz-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.subscribe .subscribeSection input:-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.subscribe .subscribeSection input::-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.subscribe .subscribeSection input::placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.logos {
  height: 20vh;
}
.logos .logosDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 40px;
}

.bottomBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.bottomBoxes .infoBox {
  border: 2px solid #CA7379;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19%;
}
.bottomBoxes .infoBox img {
  padding: 20px;
}
.bottomBoxes .infoBox div {
  padding: 5px;
}
.bottomBoxes .infoBox div h5 {
  margin: 2px auto;
}
.bottomBoxes .infoBox div h6 {
  margin: 2px auto;
}

.closingLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.closingLinks h5 {
  text-decoration: underline;
}
.closingLinks ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "MerriweatherSans";
  font-weight: 100;
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .payment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .payment ul li {
  list-style: none;
}